[Unit]
Description=OverWatch script for PI Hat
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/HAT/pi-overwatch/OverWatch.py

[Install]
WantedBy=multi-user.target
